<div class="card mt-4">
    <div class="card-header text-left">
        <h3 class="card-header-title font-size-lg text-capitalize font-weight-normal">Edit user</h3>
    </div>
    <div class="card-body">
        <ng-container [ngSwitch]="formState.type" >
            <div *ngSwitchCase="'success'" class="alert alert-success mt-2 text-center animated fadeIn" role="alert">
                {{ formState?.message }}
            </div>
            <div *ngSwitchCase="'error'" class="alert alert-danger mt-2 animated fadeIn" role="alert">
                {{ formState?.message }}
            </div>
        </ng-container>
        <form class="col-6" (ngSubmit)="submit($event, tempForm)" #tempForm="ngForm" autocomplete="nope">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="email">First name</label>
                    <input [ngClass]="{ 'is-invalid': submitAttempted && firstName.invalid }" class="form-control" id="firstName" type="firstName" name="firstName" [(ngModel)]="formData.firstName" #firstName="ngModel" required>
                    <div *ngIf="submitAttempted && firstName.invalid" class="invalid-feedback">
                        <div *ngIf="firstName.errors.required">
                            First name is required.
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="email">Last name</label>
                    <input [ngClass]="{ 'is-invalid': submitAttempted && lastName.invalid }" class="form-control" id="lastName" type="lastName" name="lastName" [(ngModel)]="formData.lastName" #lastName="ngModel" required>
                    <div *ngIf="submitAttempted && lastName.invalid" class="invalid-feedback">
                        <div *ngIf="lastName.errors.required">
                            Last name is required.
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="email">Email</label>
                    <input [ngClass]="{ 'is-invalid': submitAttempted && email.invalid }" class="form-control" id="email" type="email" name="email" [(ngModel)]="formData.email" #email="ngModel" required>
                    <div *ngIf="submitAttempted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">
                            Email is required.
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <button [disabled]="formSubmitted" type="submit" class="btn bg-success text-white btn-block">
                        <span *ngIf="formSubmitted" class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
